<!DOCTYPE html>

<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">

  <body>
  
   <section layout:fragment="custom-content">

	     <div class="row">
	    <div class="col-5">
			<h4>N&auml;chste Dokotermine</h4>
	    </div>
	       	    
	  </div>
	 
	  <div class="row">
		<table class="table table-striped">
                <thead>
                    <tr>                                           	
                        <th scope="col">Ort</th>                        	              
                        <th scope="col">Datum</th>                                                                      
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="m : ${events}">                                                     
                        <td th:text="${{m.location}}"></td>            
                        <td th:text="${{m.eventDate}}"></td>                                               
                    </tr>           
                </tbody>
            </table>	  
	  </div>

    </section>
  
  </body>
  
</html>