<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

    <body>
    

  
        <section layout:fragment="custom-content">
        
            
		<h3 th:text="Spieldetails"></h3>
		
		<form id="matchForm" th:action="@{/match}" method="post" th:object="${m}">	
		
			<input th:type="hidden" name="id" th:field="*{id}" />
			
			<p th:text="${m.player1.display}" />
			<input th:type="hidden" name="id" th:field="*{player1.id}" />
			
			<p>vs</p>
			
			<p th:text="${m.player2.display}" />
       		<input th:type="hidden" name="id" th:field="*{player2.id}" />
       
			<div class="form-group">
				  <label for="matchDate">Spieldatum</label>
		    	<div class="input-group date" id="matchDate" data-target-input="nearest">
                    <input type="text" th:field="*{matchDate}" class="form-control datetimepicker-input" data-target="#matchDate"/>
                    <div class="input-group-append" data-target="#matchDate" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
            	</div>
				<p th:if="${#fields.hasErrors('matchDate')}" th:errors="*{matchDate}" class="label label-danger"></p>
		    </div>           		    
			
			<input th:type="hidden" name="id" th:field="*{rankinglist.id}" />
			
			<button class="btn btn-primary" type="submit">Speichern</button>


		</form>
		
		<script type="text/javascript">
            $(function () {
                $('#matchDate').datetimepicker({
                	locale: 'de'
                });
            });
        </script>
  
</section>
 </body>

	
</html>

